@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Red Hat Display, sans-serif;
    background-color: #fdf8f0;
    color: #397DC9;
  }
  
  header {
    display: flex;
    background-color: #397DC9;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: underline;
    color: #fbf8ed;
    align-items: center;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .text-box {
    background-color: #eee;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .top-right {
    grid-area: text1;
  }
  
  .bottom-left {
    grid-area: text2;
  }
  
  .bottom-right {
    grid-area: image2;
  }
  
  footer {
    display: flex;
    align-items: center;
    background-color: #397DC9;
    color: #fbf8ed;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.9em;
  }
  
  .footer-icons {
    display: flex;
    gap: 10px;
  }
  
  .icon-placeholder {
    width: 20px;
    height: 20px;
    background-color: #aaa;
  }




