@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    color: #397DC9;
    
  }
  
  header {
    display: flex;
    background-color: #397DC9;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: underline;
    color: white;
    align-items: center;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    padding: 20px;
  }

  .image-box img {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
    border: #EF3220 2px solid;}

  .bottom-right {
    width: 100%;
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
  }

  .image-box .top-left {
    grid-column: 1;
    grid-row: 1;
  }

  .text-box1 {
    margin: auto;
    width: 100%;
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .text-box2 {
    width: 100%;
    padding: 20px;
    text-align: center;
    grid-column: 1;
    
  }
  /* .text-box1 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
  } */

  /* .text-box2 {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  } */
  
  footer {
    display: flex;
    align-items: center;
    background-color: #397DC9;
    color: white;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.9em;
  }
  
  .footer {
    display: flex;
    gap: 10px;
  }
  
  .social {
    display: flex;
    gap: 10px;
  }

  .social img {
    width: 40px;
    height: 40px;
  }




